In [18]:
import pymssql
import pandas as pd
import os

In [71]:
b=[]
for i in range(0,len(pd_input)):
    a=tuple((pd_input.iloc[i]))
    b.append(a)

In [74]:
server = "VCLD16GDACOSI01"+"\\" + "ACODEV01"
user = "Global"+"\\"+"u343230"
password = "blablabla13"

In [75]:
conn = pymssql.connect(server, user, password, "CDO_DELHI")
cursor = conn.cursor()

In [76]:
cursor.executemany("INSERT INTO dbo.test VALUES (%s,%s,%s,%s,%s,%s)",b)

conn.commit()
conn.close()